@model List<CodingEvents.Models.Event>

<link rel="stylesheet" type="text/css" href="~/css/events.css" />

<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>
<p>
    <a asp-controller="Events" asp-action="Delete">Delete Event</a>
</p>

@if (Model.Count < 1)
{
    <p>No Events Yet</p>
}
else
{
    <table id="events">
        <tr>
            <th>Id</th>
            <th>Event</th>
            <th>Description</th>
            <th>Contact Email</th>
            <th>Event Type</th>
            <th>Location</th>
            <th>Number of Attendees</th>
            <th>Registration Required</th>
            <th></th>
        </tr>
        @foreach (var meeting in Model)
        {
            <tr>
                <td>@meeting.Id</td>
                <td>@meeting.Name</td>
                <td>@meeting.Description</td>
                <td>@meeting.ContactEmail</td>
                <td>@meeting.Type</td>
                <td>@meeting.Location</td>
                <td>@meeting.NumberAttendees</td>
                <td>@meeting.MustRegister</td>
                <td><a asp-controller="Events" asp-action="Edit" asp-route-id="@meeting.Id">Edit Event</a></td>
            </tr>
        }
    </table>
}
        

